/*main*/
body{
    font-size: 25px;
    background-color: rgb(105, 105, 105);
    top: 100px;
    position: relative;
}

/* Header section*/

#header{
    font-family: 'Rochester', 'cursive', "san serif";
    color: white;
    height: 100px;
}

#brand{
    font-size: 35px;
}


/*body section*/


/*blog section*/

#blog{
    font-family:  'Rochester', 'cursive', "san serif";
    font-size: 50px;
}

#cigarol{
    list-style-type: upper-roman;
    text-align: center;
    list-style-position: inside;
    
}

/*carousel section*/

#carouselitem img{
    width: 95%;
    height: 250px;
}